/* for latop media quaries  */
@media only screen and (min-width: 1170px) {
  body {
    overflow-x: hidden;
  }
  .galat,
  .header1,
  .section_one,
  .scontainer,
  .footer,
  .subabout,.manumain1 {
    width: 1170px;
  }

  body {
    background-color: black;
    overflow-x: hidden;
  }

  .hicon {
    display: none;
  }

  .names {
    gap: 10px;
  }

  /* .................................................   */

  .subcontact {
    width: 1170px;
  }

  .bx.bx-x-circle {
    display: none;
  }

  .sbox:hover {
    background-color: #fff;
    border: 1px solid black;
    opacity: 1;
    transform: translateY(-30px);
  }
  .scontainer {
   min-height: 500px;
  }


}

/* For tablets media quaries  */
@media only screen and (min-width: 700px) and (max-width: 1170px) {
  body {
    background-color: rgb(214, 40, 40);
  }
  .header1,
  .section_one,
  .scontainer,
  .footer {
    width: 100vw;
    /* background-color: skyblue; */
  }

  /* .................................   */
  .subcontact {
    flex-direction: column;
    overflow-x: hidden;
  }


 
  .names {
    flex-direction: column;
  }
  .namei {
    width: 100%;
  }
  .emaili {
    width: 100%;
  }

  .names input,
  .Email input {
    padding: 10px 70px 10px 10px;
    width: 100%;
  }

  .pnumber,
  .lmail,
  .Location {
    gap: 10px;
  }

  .leftform {
    gap: 10px;
  }

  .subcontact {
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    background: radial-gradient(black, transparent);
  }

  .rightform {
    width: 100vw;
  }

  .leftform {
    padding-bottom: 30px;
    width: 100%;
  }

  .contactheader {
    background: radial-gradient(black, transparent);
    display: none;
  }

  nav {
    height: 100vh;
    width: 40vw;
    backdrop-filter: blur(10px);
    /* background-color: gold; */
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1111111111111111111;
    transform: translateX(1180px);
    transition: all 0.6s ease-in-out;
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
  }

  .bx-x-circle {
    font-size: 40px;
    color: rgb(1, 1, 14);
    position: absolute;
    top: 5%;
    right: 10%;
  }
  .bx.bx-x-circle {
    display: block;
  }

  .text {
    height: auto;
  }

  nav ul li a {
    color: black;
    font-weight: 400;
  }

  .sbox:hover {
    background-color: #fff;
    border: 1px solid black;
    opacity: 1;
    transform: translateY(-30px);
  }
  .scontainer {
    padding: 50px 2px;
    gap: 8px;
    font-size: 14px;
  }

  .manumain1 {
    padding: 0px 10px;
  }

  .manumain{
    justify-content: center;
    background-color: red;
    gap: 10px;
  }
  .manucon{
    width: 274px;
  }

  .scontainer{
    justify-content: center;
    background-color: red;
    gap: 10px;
  }
  .sbox{
    width: 274px;
    height: 405px;
  }


  
 



}

/* ......................home....................   */

/* For Phone media quaries  */
@media only screen and (max-width: 700px) {
  .header1,
  .section_one,
  .scontainer,
  .footer {
    width: 100%;
  }

  body {
    background-color: rgb(250, 247, 247);
    overflow-x: hidden;
  }

  nav {
    height: 100vh;
    width: 90vw;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1111111111111111111;
    transform: translateX(800px);
    transition: all 0.6s ease-in-out;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
  }

  nav ul li a {
    color: black;
    font-weight: 400;
  }

  .header1 {
    height: 50px;
  }

  .bx-x-circle {
    font-size: 40px;
    color: rgb(1, 1, 14);
    position: absolute;
    top: 1%;
    right: 3.5%;
  }

  .secone_left,
  .section_one {
    width: 100%;
  }

  .section_one {
    flex-direction: column;
  }

  .scontainer::-webkit-scrollbar {
    width: 0px;
  }

  .scontainer {
    display: flex;
    overflow-x: auto;
    gap: 20px;
  }

  .circle {
    display: none;
  }

  .header1 {
    width: 100vw;
    padding: 0;
  }

  .sbox {
    height: 450px;
    min-width: 282px;
    /* border: 1px solid black; */
    background-color: rgb(250, 247, 247);
    box-shadow: 2px 2px 4px rgb(226, 214, 214);
  }

  .sahi {
    border: 1px solid white;
  }

  /* ....................................   */
  .subcontact {
    /* width: 1170px; */
    flex-direction: column;
    overflow-x: hidden;
  }

  .names {
    flex-direction: column;
  }
  .namei {
    width: 100%;
  }
  .emaili {
    width: 100%;
  }

  .names input,
  .Email input {
    padding: 10px 70px 10px 10px;
    width: 100%;
  }

  .pnumber,
  .lmail,
  .Location {
    gap: 10px;
  }

  .rightform {
    padding: 5px 10px;
  }
  .contactheader {
    display: none;
  }

  .leftform {
    gap: 20px;
    padding: 5px 10px;
  }

  .bx.bx-x-circle {
    display: block;
  }

  .subabout {
    padding: 5px 10px;
  }

  .about-col-1 {
    flex-basis: 100%;
  }

  .social {
    padding: 20px 20px 0px 20px;
  }
  .sociallinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .sociallinks a {
    padding: 0px;
    width: 100%;
  }

  .socialtext h5 {
    font-size: 18px;
    white-space: nowrap;
  }

  .manumain::-webkit-scrollbar {
    width: 0px;
  }

  .manumain {
    display: flex;
    overflow-x: auto;
    gap: 20px;
  }

  .manucon {
    height: 450px;
    min-width: 282px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(250, 247, 247);
    box-shadow: 2px 2px 4px rgb(226, 214, 214);
  }

  .hide {
    height: 50px;
  }

  .sociallinks a {
    justify-content: flex-start;
    font-size: 15px;
  }

  .shome h1 {
    color: black;
    font-size: 20px;
    font-weight: 800;
  }

  .scontainer {
    padding: 10px;
  }

  .manu1{
padding:  0px 10px;
  }

  #about {
    padding: 13px 0px;
  }
.manucon1{
  height: 200px;
  min-width: 350px;
 
  }

  .secone_left p{
    margin-top: 6px;
  }
  .secone_left {
    padding: 0px 10px ;
  }
}
